{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col"># машины</th>
        <th scope="col">Модель машины</th>
        <th scope="col">Номер автомобиля</th>
        <th scope="col">Резерв</th>

    </tr>
    </thead>
    <tbody>
    {%for free_car in free_cars%}
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{free_car.model}}</td>
        <td>{{free_car.number}}</td>
        <td>{{free_car.reserve}}</td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}